# BOLÃO10 Environment Variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
JWT_SECRET="bolao10-secret-key-2024"
ADMIN_EMAIL="admin@bolao10.com"
ADMIN_PASSWORD="admin123"

# Supabase Configuration
SUPABASE_URL="https://zxnsubmxqoplohcngntu.supabase.co"

# PagBank Configuration
PAGBANK_TOKEN=
PAGBANK_EMAIL=
# Use https://sandbox.api.pagseguro.com for sandbox or https://api.pagseguro.com for production
PAGBANK_API_HOST=https://sandbox.api.pagseguro.com
PAGBANK_APP_KEY=

SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
